
.crystal-image-pink {
      width: 300px;
      height: 300px;
    }
    .crystal-image-blue {
      width: 300px;
      height: 300px;
    }
    .crystal-image-green {
      width: 300px;
      height: 300px;
    }
    .crystal-image-yellow {
      width: 300px;
      height: 300px;
    }